body {
  background-color: maroon;
  font-size: 1.6rem;
  margin: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: teal;
}

#search-container {
  margin-bottom: 20px;
  color: beige;
}

#verse-container {
  margin-top: 20px;
}

#save-verse-button,
#view-saved-button {
  margin-top: 20px;
  background-color: teal;
  border-radius: 2px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

#verseDisplay, #savedVersesDisplay {
  margin-top: 20px;
  color: white;
}

